* {
    margin: 0px;
    padding: 0px;
    /* background-color: #a9dade; */
}

#blocklyDiv {
    height: 90vh;
    width: 50%;
    border: 2px solid lightblue;
}

#toolbox {
    display: none;
}

#run_btn {
    margin: 5px;
    height: 3rem;
    width: 200px;
    background: blueviolet;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    border: none;
}

#run_btn:hover {
    background-color: rgb(117, 14, 213);
    border: 1px solid black;
}


.top-container-run-btn {
    background-color: #a9dade;
    padding-left: 45%;

}

#output {
    position: absolute;
    /* background-color: white; */
    /* background-color: #F6F7C1; */
    width: 49%;
    height: 90vh;
    left: 50.5%;
    top: 8.55%;
}

#image_style {
    width: 10rem;
    height: 10rem;
    position: absolute;
    /* top: 30%;
    left: 30%; */
    left: 316px;
    top: 250px;
    object-fit: fill;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: skewX(-1);
}

.nonflip {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}